py==1.8.1
aiogram==2.8
aiohttp==3.6.2
Pillow==8.3.2
https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
torch==1.5.1+cpu
torchvision==0.6.1+cpu